
.wrapper {   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .toast{
      background: "#fff";
      padding: 20px 15px 20px 20px;
      border-radius: 10px;
      width: 430px;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
  }